#homepageContainer {
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 5px;
  width: 65%;
  display: block;
}

.pageTitle {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 180px;
}
