.App {
  display: block;
  justify-content: center;
}

.AppHeader {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.homeIcon {
  position: absolute;
  left: 30px;
  top: 3%;
  padding: 0px;
  width: 30px;
}

.homeIcon:hover {
  background-color: grey;
  border-radius: 20%;
}
